# Git
.git
.gitignore

# IDE
.idea
.vscode
*.iml
*.ipr
*.iws

# Build output
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven wrapper
.mvn/
mvnw
mvnw.cmd

# Logs
*.log
logs/

# Test
src/test/

# Documentation
*.md
docs/

# Docker
Dockerfile
.dockerignore
